@page
@model RazorProductApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contato";
}

<h2>Contato</h2>
<p>Entre em contato conosco pelo e-mail: <a href="mailto:">weslley.soares@gamil.com</a></p>

<a class="btn btn-primary" asp-page="Index">Voltar aos Produtos</a>
